###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=6223bb9f80ffe50599fea0d9383ec240
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=api-test
JWT_TOKEN_TLL=604800 #1 week
###< lexik/jwt-authentication-bundle ###
